{{#partial "title" }}
    Create a Hero
{{/partial}}

<!--form.hbs.-->
{{#partial "content"}}

        <form action='/hero'>
            <h3>Create a Hero</h3>

            <fieldset>
                <input id="hero_name" name="hero_name" placeholder="Hero Name" type="text" required>
            </fieldset>
            <fieldset>
                <input id="age" name="age" placeholder="Hero's Age" type="text" required>
            </fieldset>
            <fieldset>
                <input id="squad" name="squad" placeholder="Hero's Squad" type="text" required>
            </fieldset>
            <fieldset>
                <input id="powers" name="powers" placeholder="Special powers" type="text" required>
            </fieldset>
            <fieldset>
                <input id="weakness" name="weakness" placeholder="Weaknesses" type="text" required>
            </fieldset>
            <fieldset>
                <button class="btn btn-success" name="submit" type="submit" id="submit">Create Hero</button>
            </fieldset>
        </form>

    <!--form.hbs.-->
{{/partial}}

{{> layout.hbs}}