{{#partial "title" }}
    Squads
{{/partial}}

<!--form.hbs.-->
{{#partial "content"}}


    <h3>Hero Squads</h3>

    <p><strong>Squad Name: -</strong>   {{squad_name}}</p>

    <p><strong>Cause: -</strong>    {{cause}}</p>

    <p><strong>Maximum Size: -</strong>   {{maxsize}}</p>

    <div>
        <a class="btn btn-info d-flex justify-content-center" href="/heroes/new">Add a Hero</a>
    </div>

    <div>
        <a class="btn btn-info d-flex justify-content-center" href="/">Home</a>
    </div>

    <!--form.hbs.-->
{{/partial}}

{{> layout.hbs}}